

body {
    /* clearing unnecessary spacing */
    margin: 0;
    padding: 0;

}

header {
    /* setting background color to green */
    background-color: green;
    padding: 20px;
    color: white;
}

/* adding media query  */

@media only screen and (max-width: 450px) {

   header {
       background-color: blue;
   }
}